[submodule "vendor/GameMaker-Manual"]
	path = vendor/GameMaker-Manual
	url = https://github.com/YoYoGames/GameMaker-Manual.git
	branch = develop
[submodule "vendor/GameMaker-HTML5"]
	path = vendor/GameMaker-HTML5
	url = https://github.com/YoYoGames/GameMaker-HTML5.git
	branch = develop
[submodule "vendor/3DSpider"]
	path = vendor/3DSpider
	url = https://github.com/SimulatorLife/3DSpider
	branch = main
